@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Mona Sans';
}

:root {
    --medium: #0A123F;
    --dark: #0A0525;
    --accent: #9E51E6;
}

html, body {
    font-family: sans-serif;
    overflow-x: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    background-image: linear-gradient(230deg, #9E51E6 1%, #0A0525 40%, #0A123F 100%);
}

header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font: 'sans-serif' 2rem bold;
    width: 100%;
    background-color: transparent;
}

header {
    height: 22vh;
    align-items: end;
}

header h1 {
    font-weight: 600;
}

main {
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

main #endereco {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25vw;
    height: 65%;
    transition: 0.3s ease-in;
    border: solid 1px #616161;
    border-radius: 60px;
    background-color: transparent;
}

main #endereco:hover {
    border: 2px solid white;
}

main #endereco p {
    text-align: center;
    width: 85%;
    font-size: 1.4;
}

main section form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1.5rem;
    border-radius: 8px;
}

main section form input {
    width: 100%;
    max-width: 300px;
    padding: 0.5rem;
    border: 1px solid white;
    border-radius: 30px;
    color: black;
}

main section form button {
    padding: 0.5rem 1rem;
    background-color: var(--accent);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

main section form button:hover {
    background-color: var();
}

.resultado {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height:80%;
    background-color:transparent;
    border-radius: 6px;
    
}

.resultado dl {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.resultado dl dt {
    margin-right: 60px;
}

.resultado dl dd {
    text-align: right
}

footer {
    height: 8vh;
    width: 100%;
}

footer a {
    color: white;
    text-decoration: none;
    text-align: center;
}

.hidden {
    display: none;
}

#load {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.452);
}

#loader {
  width: 48px;
  height: 48px;
  border: 6px solid #ccc;
  border-top: 6px solid var(--dark); 
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 42vh auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 450px) {
    header {
        align-items: end;
        font-size: 1.3rem;
        text-align: center;
        height: 20vh;
    }

    header h1 {
        width: 90vw;
        font-size: 2em;
    }

    main {
        flex-direction: column;
        justify-content: space-evenly;
        margin: 6vh;
        height: 70vh;
        width: 100%;
    }

    main #endereco {
        justify-content: space-around;
        width: 85vw;
        height: 40vh;
        order: 1;
    }

    main #endereco p {
        font-size: 1.2em;
        width: 70%;
        margin: 0;
    }

    .resultado {
        width: 90vw;
        order: 0;
    }

    dl dd, dl dt {
        font-size: 1.3em;
    }

    main form {
        width: 90%;
    }

    main form input {
        max-width: 100%;
    }

}